.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 15%;
  padding: 1rem;
}
.logo {
  width: 60%;
  margin-bottom: 2rem;
}
.sidebar div:nth-child(1) ul li {
  list-style: none;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.sidebar div:nth-child(1) ul li:hover {
  color: rgb(173, 168, 168);
}

.sidebar div:nth-child(2) .profile-photo {
  width: 20%;
  border-radius: 50%;
}

/* media query start  */
@media (min-width: 0px) and (max-width: 480px) {
  .sidebar {
    flex-basis: 25%;
    padding: 0;
  }
  .sidebar div:nth-child(1) ul li {
    font-size: 1rem;
  }
  .sidebar div:nth-child(2) .profile-photo {
    width: 30%;
    border-radius: 50%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    flex-basis: 25%;
    padding: 0;
  }
  .sidebar div:nth-child(1) ul li {
    font-size: 1.3rem;
  }
  .sidebar div:nth-child(2) .profile-photo {
    width: 30%;
    border-radius: 50%;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  .sidebar div:nth-child(1) ul li {
    font-size: 1.3rem;
  }
}
/* media query end  */
