.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 15%;
  padding: 1rem;
}
.logo {
  width: 60%;
  margin-bottom: 2rem;
}
.sidebar div:nth-child(1) ul li {
  list-style: none;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.sidebar div:nth-child(1) ul li:hover {
  color: rgb(173, 168, 168);
}

.sidebar div:nth-child(2) .profile-photo {
  width: 20%;
  border-radius: 50%;
}
