@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(
      to bottom,
      rgba(164, 129, 132, 0),
      rgba(164, 129, 132, 0.8)
    ),
    linear-gradient(to right, rgba(57, 41, 51, 0.2), rgba(97, 41, 51, 0.8));
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}
