.shimmer-container .list-shimmer {
  /* background-color: red;  */
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: 2rem;
  margin-top: 2rem;
}
.shimmer-container .list-shimmer .first-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.shimmer-container .list-shimmer .second-container {
  width: 90%;
  height: 3rem;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #f8f8f8 20%,
    #f0f0f0 40%,
    #f8f8f8 60%,
    #f0f0f0 80%,
    #f8f8f8 100%
  );
  animation: shimmer 2s linear infinite;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

/* .shimmer-container {
  display: flex;
  flex-direction: column;
}
.shimmer {
  background-color: rgb(254, 253, 253);
  margin-bottom: 2rem;
  margin-top: 3rem;
  height: 25rem;
  width: 25rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shimmer > div:nth-child(1) {
  height: 15rem;
  width: 100%;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #f8f8f8 20%,
    #f0f0f0 40%,
    #f8f8f8 60%,
    #f0f0f0 80%,
    #f8f8f8 100%
  );
  animation: shimmer 2s linear infinite;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .shimmer-container {
    margin-left: 2.1rem;
  }
} */
