.shimmer-container .list-shimmer {
  
  display: flex;
  align-items: center;
 
  gap: 2rem;
  margin-top: 2rem;
}
.shimmer-container .input-shimmer {
  margin-top: 2rem;
  width: 46rem;
  border-radius: 1rem;
  height: 4rem;
  background-color: #f0f0f0;
}
.shimmer-container .list-shimmer .first-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.shimmer-container .list-shimmer .second-container {
  width: 40rem;
  height: 3rem;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #f8f8f8 20%,
    #6e6c6c 40%,
    #565555 60%,
    #f0f0f0 80%,
    #f8f8f8 100%
  );
  animation: shimmer 2s linear infinite;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .shimmer-container {
    margin-left: 3rem;
  }
  .shimmer-container .input-shimmer {
    width: 20rem;
    height: 2rem;
  }
  .shimmer-container .list-shimmer .first-container {
    width: 2rem;
    height: 2rem;
  }
  .shimmer-container .list-shimmer .second-container {
    width: 15rem;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .shimmer-container {
    margin-left: 2rem;
  }
  .shimmer-container .input-shimmer {
    width: 29rem;
    height: 2rem;
  }
  .shimmer-container .list-shimmer .first-container {
    width: 2rem;
    height: 2rem;
  }
  .shimmer-container .list-shimmer .second-container {
    width: 25rem;
  }
}
